.main_header {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    background: var(--opacity);
    filter: drop-shadow(0px 0px 5px var(--primary));
    box-sizing: border-box;
    z-index: 99;
    transition: 0.7s;

    &.origin_header {
        z-index: 100;
    }

    &.hide_in_top {
        top: -112px;
    }

    .header_nav {
        display: flex;
        max-width: 1280px;
        justify-content: space-between;
        margin: 0 auto;
        align-items: center;
        height: 56px;
        box-sizing: border-box;

        .left_header_nav {
            margin-left: 25px;
        }

        .right_header_nav {
            margin-right: 25px;
        }

        .left_header_nav,
        .right_header_nav {
            display: flex;
            gap: 50px;

            @include break768px {
                gap: calc(16px + 1.5rem);

                .nav_btn {
                    min-width: calc(16px + 1rem);
                }
            }


        }

        .title_header {
            font-size: 1.5rem;
            color: var(--primary);
            text-shadow: 0 0 5px var(--primary);
            text-align: center;

            @include break768px {
                display: none;
            }
        }
    }
}