.container_slide {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: var(--opacity);
    filter: drop-shadow(0px 0px 5px var(--primary));
    box-sizing: border-box;
    border-radius: 40px;
    padding: 2rem;
    gap: 1.5rem;

    .container_slide_img {
        position: relative;
        width: 100%;
        height: calc(100% - 3.375rem);
        background: radial-gradient(var(--secondary-light), var(--secondary) 100%);
        border-radius: calc(40px - 1rem);
        box-sizing: border-box;
        overflow: hidden;
        min-height: calc(300px - 3.375rem);

        .container_img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 50%;
            left: 50%;
            overflow: hidden;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;

            &.prev {
                transform: translate(-150%, -50%);
            }

            &.next {
                transform: translate(50%, -50%);
            }

            &.move_prev {
                animation: 0.75s ease-out 0s 1 moveToRight;
            }

            &.move_next {
                animation: 0.75s ease-out 0s 1 moveToLeft;
            }

            &.not_display {
                display: none;
            }

            .img_slide {
                display: block;
                width: 100%;
                max-height: 100%;
                object-fit: contain;
                box-sizing: border-box;
            }
        }
    }

    .container_button {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        margin: 0 auto;
    }
}

@keyframes moveToRight {
    to {
        left: 150%;
    }
}

@keyframes moveToLeft {
    to {
        left: -50%;
    }
}