@import "reset.css";
@import url('https://fontlibrary.org//face/xolonium');
@import "./variable/variable";
@import "./partials/partials";
@import "./header/header";
@import "./svgToJson/svgToJson";
@import "./slide/slide";
@import "./layout/layout";
@import "./menu/menu";

@font-face {
font-family: 'XoloniumRegular';
font-style: normal;
font-weight: normal;
src: local('Xolonium Regular'), url('Xolonium-Regular.woff') format('woff');
}
    
@font-face {
font-family: 'Xolonium Bold';
font-style: normal;
font-weight: normal;
src: local('Xolonium Bold'), url('Xolonium-Bold.woff') format('woff');
}

#root {
    font-family: 'XoloniumRegular';
}

a {
    text-decoration: none;
}

body {
    background: radial-gradient(var(--tertiary), var(--secondary));
    background-attachment: fixed;
    @include scrollBar;
}

button {
    background: initial;
    font-family: 'XoloniumRegular';
    border: none;
}

input {
    font-family: inherit;

    &:required,
    &:invalid {
        box-shadow: none;
    }

    &:-webkit-autofill::first-line,
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        font-family: inherit;
        background: transparent;
    }
}
